/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
  .video-detalles-container {
    padding: 10px; /* Reducir el padding */
    max-width: 100%; /* Ocupar todo el ancho disponible */
    border-radius: 0; /* Eliminar el borde redondeado */
    box-shadow: none; /* Eliminar la sombra */
  }

  .video-detalles-container h1 {
    font-size: 1.5em; /* Reducir el tamaño del título */
  }

  .video-detalles-container p {
    font-size: 1em; /* Reducir el tamaño del párrafo */
    margin: 20px 0;
  }

  .video-detalles-iframe {
    width: 100%; /* Modificar el ancho del iframe */
    padding-bottom: 56.25%; /* Mantener el ratio 16:9 */
    margin: 10px auto; /* Ajustar el margen */
  }
}
