@media (max-width: 768px) {
    .container {
      padding: 10px; /* Reducir el padding para mejor ajuste */
      height:100%;
    }
  
    .video-cards {
      gap: 10px; /* Reducir el espacio entre tarjetas */
    }
  
    .videos-container {
      margin: 0;
      justify-content: center;
    }
  }