/* Media queries para dispositivos móviles con un ancho máximo de 480px */
@media (max-width: 480px) {

    .categorias-container {
      gap: 10px;
      align-items: center;
      flex-direction: column;
      width: 100%
    }
  
    .categoria-button {
      width: 100%;
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
    }
  }