@media (min-width: 600px) and (max-width: 768px) {
  /* Ajuste del logo en pantallas de tablet */
  .header__logo img {
    height: 30px; 
  }

  /* Ajuste de la lista de navegación en pantallas de tablet */
  .header__nav ul {
    gap: 10px; 
  }

  /* Ajuste de los enlaces de navegación en pantallas de tablet */
  .header__nav ul li a {
    font-size: 14px; 
    padding: 8px 12px;
  }
}

